@font-face {
  font-family: "Jost", sans-serif;
  src: url("../fonts/Jost/static/Jost-Black.ttf");
}

@font-face {
  font-family: "Jost", sans-serif;
  src: url("../fonts/Jost/static/Jost-BlackItalic.ttf");
}

@font-face {
  font-family: "Jost", sans-serif;
  src: url("../fonts/Jost/static/Jost-Bold.ttf");
}

@font-face {
  font-family: "Jost", sans-serif;
  src: url("../fonts/Jost/static/Jost-BoldItalic.ttf");
}

@font-face {
  font-family: "Jost", sans-serif;
  src: url("../fonts/Jost/static/Jost-ExtraBold.ttf");
}

@font-face {
  font-family: "Jost", sans-serif;
  src: url("../fonts/Jost/static/Jost-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: "Jost", sans-serif;
  src: url("../fonts/Jost/static/Jost-ExtraLight.ttf");
}

@font-face {
  font-family: "Jost", sans-serif;
  src: url("../fonts/Jost/static/Jost-ExtraLightItalic.ttf");
}

@font-face {
  font-family: "Jost", sans-serif;
  src: url("../fonts/Jost/static/Jost-Italic.ttf");
}

@font-face {
  font-family: "Jost", sans-serif;
  src: url("../fonts/Jost/static/Jost-Light.ttf");
}

@font-face {
  font-family: "Jost", sans-serif;
  src: url("../fonts/Jost/static/Jost-LightItalic.ttf");
}

@font-face {
  font-family: "Jost", sans-serif;
  src: url("../fonts/Jost/static/Jost-Medium.ttf");
}

@font-face {
  font-family: "Jost", sans-serif;
  src: url("../fonts/Jost/static/Jost-MediumItalic.ttf");
}

@font-face {
  font-family: "Jost", sans-serif;
  src: url("../fonts/Jost/static/Jost-Regular.ttf");
}

@font-face {
  font-family: "Jost", sans-serif;
  src: url("../fonts/Jost/static/Jost-SemiBold.ttf");
}

@font-face {
  font-family: "Jost", sans-serif;
  src: url("../fonts/Jost/static/Jost-SemiBoldItalic.ttf");
}

@font-face {
  font-family: "Jost", sans-serif;
  src: url("../fonts/Jost/static/Jost-Thin.ttf");
}

@font-face {
  font-family: "Jost", sans-serif;
  src: url("../fonts/Jost/static/Jost-ThinItalic.ttf");
}