@import "scss/fonts";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Jost", sans-serif;
}

#root {
  width: 100%;
  height: 100vh;
  background: #3e414b;
}